<section>
  <h1><a href="https://github.com/enten/ngx-sticky">@enten/ngx-sticky</a> Demo!</h1>
</section>

<section>
  <h3>Features:</h3>
  <ul>
    <li>Stick all the things!</li>
    <li>Super smooth!</li>
    <li>Tested in real world projects</li>
    <li>Support for <strong>Angular Universal</strong></li>
    <li>Prevents page-jumping when switching to sticky mode</li>
    <li>No jQuery or other dependencies - <strong>pure Angular</strong> solution</li>
    <li>Support for boundaries to make elements stop.</li>
  </ul>
  <h3>Usage:</h3>
  <pre><code>&lt;div ngx-sticky&gt;
  I am sticky!
&lt;/div&gt;</code></pre>
  <h3>More:</h3>
  <div>
    For more information see: <a href="https://github.com/enten/ngx-sticky">https://github.com/enten/ngx-sticky</a>.
  </div>
</section>

<section class="example">
  <h3>Sticky</h3>
  <pre class="code"><code>&lt;p ngx-sticky&gt;
  Sticky
&lt;/p&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p ngx-sticky>Sticky</p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky inside container</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky&gt;
    Sticky inside container
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky>Sticky inside container</p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky position bottom</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky position=&quot;bottom&quot;&gt;
    Sticky position bottom
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container offsetTop="0" offsetBottom="200" class="demo">
    <div class="bottom">
      <p></p>
      <p></p>
      <p ngx-sticky position="bottom">Sticky position bottom</p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky stack true</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky stack&gt;
    Sticky 1
  &lt;/p&gt;
  &lt;p ngx-sticky stack&gt;
    Sticky 2
  &lt;/p&gt;
  &lt;p ngx-sticky stack&gt;
    Sticky 3
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky stack>Sticky 1</p>
      <p></p>
      <p></p>
      <p ngx-sticky stack>Sticky 2</p>
      <p></p>
      <p></p>
      <p ngx-sticky stack>Sticky 3</p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky stack false</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky stack=&quot;false&quot;&gt;
    Sticky 1
  &lt;/p&gt;
  &lt;p ngx-sticky stack=&quot;false&quot;&gt;
    Sticky 2
  &lt;/p&gt;
  &lt;p ngx-sticky stack=&quot;false&quot;&gt;
    Sticky 3
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky stack="false">Sticky 1</p>
      <p></p>
      <p></p>
      <p ngx-sticky stack="false">Sticky 2</p>
      <p></p>
      <p></p>
      <p ngx-sticky stack="false">Sticky 3</p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky orbit</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky orbit&gt;
    Sticky orbit
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky orbit>Sticky orbit</p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Sticky spot</h3>
  <pre class="code"><code>&lt;div ngx-sticky-container&gt;
  &lt;p ngx-sticky [spot]="spot"&gt;
    Sticky spot
  &lt;/p&gt;
  &lt;p #spot&gt;
    Spot
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky [spot]="spot">Sticky spot</p>
      <p></p>
      <p #spot style="padding: 5em 1em; text-align: center">
        Spot<br>
      </p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <h3>Scroll</h3>
  <pre class="code"><code>constructor(readonly stickyService: NgxStickyService) {{ '{' }} {{ '}' }}

scrollToAnchor() {{ '{' }}
  this.stickyService.scrollToElement('#scroll-target');
{{ '}' }}</code></pre>
  <div ngx-sticky-container class="demo">
    <div>
      <p></p>
      <p ngx-sticky style="text-align: center;">
        <button (click)="scrollToAnchor('scroll-target', true)">Scroll to anchor natively</button>
        <button (click)="scrollToAnchor('scroll-target')">Scroll to anchor with StickyService</button>
      </p>
      <p></p>
      <p ngx-sticky>Sticky</p>
      <p></p>
      <p ngx-sticky>Sticky</p>
      <p></p>
      <p id="scroll-target" style="padding: 0.5em 1em 9.5em; text-align: center">
        Scroll target<br>
      </p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</section>

<section class="example">
  <p ngx-sticky><strong>fyi:</strong> Boundary is optional - I'll scroll all the way down. </p>
  <p></p>
  <p></p>
  <p></p>
  <div style="height: 200vh"></div>
  <p></p>
</section>

<section>
  <p>thanks to <a href="https://github.com/w11k/angular-sticky-things">@w11k/angular-sticky-things</a></p>
</section>
