:host {
  display: block;
}

.container {
  padding: 2rem;
}

.navigation,
.footer {
  z-index: 5;
}

.navigation {
  background: rgba(207, 216, 220, 0.5)/*#cfd8dc*/;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  font-size: 2.4rem;

  h1 {
    display: inline;
    font-size: inherit;
    margin: 0;
  }
}


.header,
.api,
.footer {
  background: #eceff1;
}

.header {
  z-index: 3;
}

.footer {
  background: rgba(157, 166, 169, 0.80)/*#9da6a9*/;
  color: #eceff1;
}


.examples,
.api {
  .container > div {
    margin-bottom: 12rem;
  }
}


.sidepanes {
  .controls {
    &-header {
      font-weight: bold;
      margin: 1rem 0;
    }

    &-group {
      padding: 0;
      line-height: 1.6em;
      margin-bottom: 1.6rem;

      &-header {
        font-style: italic;
      }

      div > label {
        display: inline-block;
        margin-right: 2rem;
        min-width: 18rem;
      }

      div > input[type=number],
      div > input[type=text] {
        width: 5rem;
      }
    }

    .code {
      margin-top: 0;
    }
  }

  .preview {
    // width: 50%;
    margin: 0;
    min-height: 40rem;
    padding: 1rem;
    background: #fff;

    header,
    footer,
    p {
      min-height: 1rem;
      padding: 0.5rem 1rem;
    }

    header,
    footer {
      background: #cfd8dc;
      z-index: 2;
    }

    [ngx-sticky-boundary] {
      background: #eceff1;
      padding: 1rem;
    }

    p {
      min-height: 1rem;
      padding: 0.5rem 1rem;
      background: #cfd8dc;
      opacity: 0.5;

      &[ngx-sticky] {
        opacity: 1;
      }
    }
  }
}


.example.sticky-classes {
  .preview {
    position: relative;
    // padding-top: 6rem;
  }
  header {
    position: relative;
    z-index: 2;
  }
  .header-sticky {
    display: none;
    position: absolute;
    background: lightblue;
    padding: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    transition: transform 0.3s;
    transform: translateY(-100%);

    &:not(.ngx-sticky--disabled) {
      display: block;
    }

    &:not(.ngx-sticky--normal) {
      transform: translateY(0%);
    }
  }
}
